@import './config.scss';

* {
    box-sizing: border-box;
}

.main-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.left-container {
    top: 0;
    left: 0;
    height: 100%;
    width: $MENU_WIDTH;
    background: $LEFT_CONTAINER_BKG;
    color: $MENU_ITEM_COLOR;
}
.right-container {
    flex: 1;
    background: $RIGHT_CONTAINER_BKG;
}

.mobile-menu-container {
    display: none;
}

.mobile-menu-icon {
    display: none;
}