* {
  box-sizing: border-box;
}

.pop-up-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  -ms-flex-pack: center;
      justify-content: center;
}

.pop-up-container {
  -ms-flex-item-align: center;
      align-self: center;
}

.pop-up-content {
  height: 500px;
  width: 500px;
}

.close-icon-container {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
}

object {
  height: 100%;
  width: 100%;
}

.arrow {
  cursor: pointer;
  fill: #fff !important;
  stroke: #fff !important;
}

.disabled-arrow {
  fill: #444444 !important;
  stroke: #444444 !important;
}

.close {
  cursor: pointer;
  fill: #fff !important;
  stroke: #fff !important;
}

.slide {
  width: 450px;
  height: 450px;
  background: #f2f2f2;
  margin: 25px;
  float: left;
}

.slides-container {
  min-width: 3000px;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  left: 0;
  transition: left 0.3s linear;
}

.pop-up-content {
  overflow: hidden;
}

.arrow-container {
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 20px;
}

.pop-up-container {
  display: -ms-flexbox;
  display: flex;
}

.pop-up-content {
  animation: slide-from-top 0.3s forwards;
  transform: translate(100%, 0%);
  display: none;
}

@keyframes slide-from-top {
  0% {
    visibility: visible;
  }
  100% {
    transform: translate(0, 0);
  }
}
.pop-up-content-opaque {
  display: block;
  z-index: 999;
}
