$themeColor: #6abbec;

$centralContainerBackground: #f2f2f2;
$headerBackground: $themeColor;
$textBoxBorderBottom: #d2d2d2;
$buttonBackground: #dddddd;
$buttonHoverBorder: $themeColor;
$textBoxFocusBorderBottom: $themeColor;