.header {
  padding: 20px 20px;
}

.header-span {
  font-weight: bold;
  font-variant-caps: small-caps;
  font-size: 20px;
}

.text-container-box {
  margin: 20px 20px;
  position: relative;
}

.textbox {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #d2d2d2;
  padding: 10px 15px;
}

.textbox:hover,
.textbox:focus {
  border-color: #6abbec;
}

.label {
  position: absolute;
  top: 10px;
  left: 15px;
  transition: all 0.5s;
  color: #999999;
}

.textbox:focus + .label,
.textbox:valid + .label {
  top: -10px;
  font-size: 12px;
}

.textbox::-moz-placeholder {
  color: #999999;
}

.textbox:-ms-input-placeholder {
  color: #999999;
}

.textbox::placeholder {
  color: #999999;
}

.buttons-inner-container {
  -ms-flex: 1;
      flex: 1;
}

.button {
  outline: none;
  border: none;
  padding: 12px 20px;
  width: 100%;
  background: #dddddd;
  cursor: pointer;
}

.button:hover {
  border: 2px solid #6abbec;
  padding: 10px 18px;
}

.buttons-inner-container + .buttons-inner-container {
  margin: 0 0 0 10%;
}

@media screen and (max-width: 500px) {
  .button {
    padding: 10px 20px;
  }
}
* {
  box-sizing: border-box;
}

.main-container {
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -ms-flex-pack: center;
      justify-content: center;
}

.central-container {
  -ms-flex-item-align: center;
      align-self: center;
  background: #f2f2f2;
  width: 400px;
}

.header-container {
  text-align: center;
  background: #6abbec;
}

.form-container {
  padding-top: 30px;
}

.buttons-container {
  text-align: center;
  margin: 50px 20px 40px 20px;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 500px) {
  .central-container {
    width: 300px;
  }

  .form-container {
    padding-top: 0;
  }

  .buttons-container {
    margin: 40px 20px 20px 20px;
  }
}
