$LEFT_CONTAINER_BKG: #333333;
$RIGHT_CONTAINER_BKG: #dddddd;

$LIST_ELEMENT_COLOR: #ffffff;
$LIST_ELEMENT_HOVERED_BKG: #2c3b41;

$ICON_HOVERED_COLOR: $LEFT_CONTAINER_BKG;

$LEFT_CONTAINER_WIDTH: 40px;
