@import "./config.scss";

.slide {
  width: $slideWidth;
  height: $slideHeight;
  background: $slidesBackground;
  margin: $slideMargin;
  float: left;
}

.slides-container {
  min-width: 3000px;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  left: 0;
  transition: left $transitionSpeed $transitionTimingFunction;
}

.pop-up-content {
  overflow: hidden;
}

.arrow-container {
  width: $arrowWidth;
  height: $arrowHeight;
  align-self: center;
  margin: $arrowMargins;
}

.pop-up-container {
  display: flex;
}
