.slide {
    width: 450px;
    height: 450px;
    background: white;
    margin: 25px; 
    float: left;
}

.slides-container {
    min-width: 3000px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    left: 0;
    transition: left 300ms linear;
}

.pop-up-content {
    overflow: hidden;
}

.arrow-container {
    width: 50px;
    height: 50px;
    align-self: center;
    margin: 0 20px;
}

.pop-up-container {
    display: flex;
}