@import "./config.scss";

.arrow {
  cursor: pointer;
  fill: $iconFill !important;
  stroke: $iconStroke !important;
}

.disabled-arrow {
  fill: $iconDisableFill !important;
  stroke: $iconDisableStroke !important;
}

.right-arrow {
}

.left-arrow {
}

.close {
  cursor: pointer;
  fill: $iconFill !important;
  stroke: $iconStroke !important;
}
