@import './config.scss';

.arrow {
    cursor: pointer;
    fill: $iconFill !important;
    stroke: $iconStroke !important; 
}

.right-arrow{

}

.left-arrow{

}

.close {
    cursor: pointer;
    fill: $iconFill !important;
    stroke: $iconStroke !important;
}